#edit-controls {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    accent-color: #0f20b6;
}

#edit-controls label {
    display: block;
    margin-bottom: 10px;
}

#edit-controls input[type="color"] {
    width: 50px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#edit-controls input[type="range"] {
    width: 100%;
    accent-color: #1934cf;
    /* Grün passend zu UI */
}